* {
	font-family: 'Roboto', sans-serif;
}

html{
	height: 100%;
	width: 100%;
}

body {
	background-color: #EDEDED;
	font-size: 150%;
}

header, main, footer {
	max-width: 320px;
	padding: 10px;
	margin: 0px auto;
	text-align: center;	
}

form div div, footer div p {
	padding: 0px;
	margin: 0px;
}

form div {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

main {
	border-top: solid 1px black;
}

button {
	font-size: 110%;
	margin: 10px auto;
	background-color: lightgray; 
}

form div {
	margin: 20px;
}

#logo {
	width: 175px;
	height: 175px;
}

label {
	display: block;
	text-align: left;
}

legend p {
	margin: 0px;
	padding: 0px;
}