* {
	font-family: 'Roboto', sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: lightgray;
}

footer {
	background-image: linear-gradient(#0086CD, #66B6E9);
}

main {
	background-image: linear-gradient(lightgray, white);
}

header {
	background-image: linear-gradient(#E84560, #ED7B70);
}

header, main, footer {
	width: 50%;
	padding: 40px;
	border: solid 1px black;
	margin: 0px auto;
	text-align: center;
}

form {
	margin: 0 auto;
	text-align: center;
}

fieldset {
	padding: 10px;
	margin: 10px auto;	
	width: 50%;
	text-align: left;
}

button {
	font-size: 24px;
	width: 200px;
	height: 35px;
	margin: 10px auto;
}

p {
	font-size: 20px;
}

div {
	margin: 20px;
}