* {
	font-family: 'Roboto', sans-serif;
}

span, #score {
	font-size: 1.7em;
}

html{
	height: 100%;
}

body {
	background-color: #EDEDED;
}

header, main, footer {
	width: 90%;
	padding: 10px;
	margin: 0px auto;
	text-align: center;	
}

form div div, footer div p {
	padding: 0px;
	margin: 0px;
}

form div {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

main {
	border-top: solid 1px black;
}

button {
	font-size: 25px;
	width: 30%;
	margin: 10px auto;
	background-color: lightgray; 
}

form div {
	margin: 20px;
}

#logo {
	width: 141px;
	height: 141px;
}

label {
	display: block;
	text-align: left;
}
